$space-blue: #0d1128


html
	background: $space-blue


.bg
	z-index: -900



.site
	+outer-container

	.hero
		min-height: 100vh
		height: 4000px
		+span-columns(6)
		+shift(3)
		text-align: center

		.logo
			width: 250px
			+margin(5em auto 10em auto)

	